In [1]:
import keyword
print(keyword.kwlist)
a=len(keyword.kwlist)
print(a)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [2]:
"""
multi line comment
how are you all
have a nice day guys
"""
print('hello CSE people')

hello CSE people

In [3]:

a=50
b=50
c=a+b
print(c)
#example 2 on strings
x='hello'
x

100

'hello'

In [4]:
a=([1,2,3,4,5])
b=([2.4,7.0,6.8])
c=(['hello','students'])
print(a)
print(b)
print(c)

[1, 2, 3, 4, 5]
[2.4, 7.0, 6.8]
['hello', 'students']

In [5]:
a=(['hello',8,9,20.77])
a

['hello', 8, 9, 20.77]

In [6]:
L=list(range(0,6))
print(L)

[0, 1, 2, 3, 4, 5]

In [7]:
days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
days

['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

In [8]:
#creating a list without constructor():
days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
days[-1]

'sunday'

In [9]:
days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
days[1:4:2]

['tuesday', 'thursday']

In [10]:
days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
len(days)

7

In [14]:
numbers=[1,2,3,4,5,6,7,8]
max(numbers)

8

In [13]:
numbers=[1,2,3,4,5,6,7,8]
min(numbers)

1

In [15]:
numbers=[1,2,3,4,5,6,7,8]
sum(numbers)

36

In [16]:
import random
numbers=[1,2,3,4,5,6,7,8]
random.shuffle(numbers)
print(numbers)

[6, 4, 2, 7, 8, 5, 1, 3]

In [18]:
a=[1,2,3]
b=[4,5,6]
c=a+b
print(c)


a=[10,20]
b=3*a
print(b)


days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
'wednesday' in days
days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
'wednesday' not in days

[1, 2, 3, 4, 5, 6]
[10, 20, 10, 20, 10, 20]

False

In [21]:
b='Arshiya'
a is b

a='Arshiya'
b='Lubna'
a is b

False

In [20]:
days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
del[days[1]]
days

['monday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

In [22]:
list=['red','orange','pink','black']
print(list)

list.clear()
print(list)

nums=[1,2,3,4,1,4,1,7,8,1]
print(nums)

nums.count(1)
list_1=[1,2,3,4]
print(list_1)

list_2=list_1.copy()
print(list_2)

A=[1,3,2,4,5]
B=[5,6,7,3,6]
print(A)
print(B)
A.extend(B)
print(A)

['red', 'orange', 'pink', 'black']
[]
[1, 2, 3, 4, 1, 4, 1, 7, 8, 1]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 3, 2, 4, 5]
[5, 6, 7, 3, 6]
[1, 3, 2, 4, 5, 5, 6, 7, 3, 6]

In [24]:
a=(5,)
print(a)
print(type(a))

#creating tuple with integers
a=(1,2,3,4,5)
print(a)

#creating tuple with float numbers
b=(6.5,5.9,2.0)
print(b)

#creating tuple with strings
c=('one','two','three')
c

#creating tuple multiple data types
mix=('hello',708,66.8,1,2)
mix

#accessing items of tuple
a=(1,2,3,4,'hello')
print(a[4])

(5,)
<class 'tuple'>
(1, 2, 3, 4, 5)
(6.5, 5.9, 2.0)
hello

In [27]:

a={
'name':'joy',
'age':23,
'education':'Engineer'
}
print(a)

len(a)
type(a)

x=a.keys()
print(x)

y=a.values()
print(y)

{'name': 'joy', 'age': 23, 'education': 'Engineer'}
dict_keys(['name', 'age', 'education'])
dict_values(['joy', 23, 'Engineer'])

In [28]:

set1={1,2,3,4}
print(set1)
set={1,2,3,4,5,6,7,1,1}
set

{1, 2, 3, 4}

{1, 2, 3, 4, 5, 6, 7}

In [29]:
def add():
  a=2
  b=3
  sum=a+b
  return sum
add()
print(add())

5